<div class="dashboard-filter-container" [class.--phone]="platformService.isPhone()">
    <div class="filter-top-row">
        <app-select
            [options]="durationSelectOptions()"
            [(value)]="durationSelection"
            aria-label="Duration Type Select">
        </app-select>


    </div>

    <app-multi-select
        label="Lists"
        title="Task Lists"
        [(selectedValues)]="listSelections"
        aria-label="Task List Multi Select">
        @for (list of taskLists(); track list.id) {
            <app-multi-select-item [value]="list.id">
                <span class="list-color-dot" [style.background-color]="list.color"></span>
                {{ list.name }}
            </app-multi-select-item>
        }
    </app-multi-select>
</div>