<div class="auth-layout" [class.is-mobile]="platformService.isMobile()">
    <app-auth-header headerTitle="TaskFlow"></app-auth-header>
    <div class="auth-layout-content">
        @switch (currentMode()) {
            @case ('LOGIN') {
                <app-login
                    (navigateToRegister)="currentMode.set('REGISTER')" 
                    (navigateToForgotPassword)="currentMode.set('FORGOT_PASSWORD')">
                </app-login>
            }
            @case ('REGISTER') {
                <app-register 
                    (navigateToSignIn)="currentMode.set('LOGIN')"
                    (navigateToForgotPassword)="currentMode.set('FORGOT_PASSWORD')">
                </app-register>
            }
            @case ('FORGOT_PASSWORD') {
                <app-forgot-password
                    (navigateToSignIn)="currentMode.set('LOGIN')" 
                    (navigateToRegister)="currentMode.set('REGISTER')">
                </app-forgot-password>
            }
        }
    </div>
</div>
