<app-modal class="new-template-modal-container" [isOpen]="isOpen()" (close)="close.emit()">

    <div class="new-template-modal-header" modal-header>
        <h2 class="new-template-modal-header-title">New Template</h2>
        <p class="new-template-modal-header-description">Define a reusable task list that can be auto-created on a schedule.</p>
    </div>

    <div class="new-template-modal-body" modal-body>
        <app-input
            class="new-template-name"
            [label]="'Template Name'"
            [type]="'text'"
            [placeholder]="'e.g. Weekly Sprint Tasks'"
            [required]="true"
            [(value)]="templateName"
        ></app-input>
        <div class="color-label">Color</div>
        <div class="color-pickers-container">
            @for (color of exhaustiveTemplateColors(); track color) {
                <div class="color-picker" [style.background-color]="color"></div>
            }
        </div>
    </div>

</app-modal>