<!-- Multi line chart -->

<!-- <app-multi-line-chart
    title="Monthly Revenue"
    [categories]="months()"
    [series]="revenueSeries()"
    height="50%"
    width="50%"
/>

<button (click)="addDataPoint()">Add Month</button> -->

<!-- Bar chart -->

<!-- <app-bar-chart
    title="Quarterly Sales by Region"
    [categories]="quarters()"
    [series]="salesSeries()"
    height="50%"
    width="100%"
/>

<button (click)="addSeries()">Add Region</button> -->

<!-- Progress Gauges -->

<!-- <div style="display: flex; gap: 24px; flex-wrap: wrap;">

    <app-progress-gauge
        title="CPU Usage"
        unit="%"
        [value]="cpu()"
        [thresholds]="cpuThresholds"
        height="280px"
        />

    <app-progress-gauge
        title="Temperature"
        unit="°C"
        [value]="temp()"
        [min]="0"
        [max]="120"
        [thresholds]="tempThresholds"
        height="280px"
    />

</div>

<button (click)="randomize()">Randomize</button> -->

<!-- Donut chart -->

<!-- <div style="display: flex; gap: 24px; flex-wrap: wrap;">

    <app-donut-chart
        title="Revenue"
        subtitle="by region"
        [data]="regionData()"
        height="420px"
        width="800px"
    />

    <app-donut-chart
    [title]="totalLabel()"
    subtitle="total units"
    [data]="productData()"
    innerRadius="60%"
    outerRadius="80%"
    height="420px"
    width="800px"
    [colors]="['#6366f1','#ec4899','#f59e0b','#22c55e']"
    />

</div>

<button (click)="randomize()">Randomize</button> -->